// style for the components

// #productPricesFields {
//     display: flex;
//     flex-direction: column;

//     & input {
//         font-family: var(--font-body);
//         width: 100%;
//         border: 1px solid var(--theme-elevation-150);
//         background: var(--theme-input-bg);
//         color: var(--theme-elevation-800);
//         border-radius: 0;
//         font-size: 1rem;
//         height: 3.8461538462rem;
//         line-height: 1.9230769231rem;
//         padding: 0.9615384615rem 1.4423076923rem;

//         &:hover {
//             border-color: var(--theme-elevation-250);
//             box-shadow: 0 2px 3px 0 rgba(0, 2, 4, 0.13),
//                 0 6px 4px -4px rgba(0, 2, 4, 0.1);
//         }
//     }
//     & p {
//         background-color: orange;
//         margin: 2% 0%;
//         padding: 1.75%;
//         border: 1px solid slategray;
//         border-radius: 15px;
//         font-weight: 600;
//         font-size: medium;
//     }
// }

#categorie {
    background-color: aquamarine;
    color: red;
}

.categorie {
    background-color: aquamarine;
}

#selectInput {
    color: red;
}

categorie {
    background-color: aquamarine;
}

.feature {
    background-color: aquamarine;
    color: darkorchid;
}

#feature {
    background-color: aquamarine;
}

#priceWarning {
    color: chocolate;
    font-weight: 600;
    margin-bottom: 1rem;
}

#commission {
    margin-bottom: 2rem;
}